.card-container {
	position: relative;
	padding: 50px 0px 0px 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.container .card__heading {
	text-align: center;
	padding: 100px 0px 0px 0px;
	background: linear-gradient(to right, rgb(242, 240, 240) 30%, gray 70%);
	background-clip: text;
	color: transparent;
	letter-spacing: 3px;
}

.card-container::before {
	content: "";
	position: absolute;
	bottom: -50%;
	transform: translateY(50%);
	left: 0;
	width: 100%;
	height: 1px;
	background-color: rgb(47, 45, 45);
}

.card {
	width: 100%;
	max-width: 250px;
	margin-bottom: 20px;
	padding: 10px;
	height: 300px;
	color: white;
	/* transition: transform 1.3s ease-in-out; */
	transition: all 500ms linear;
	border: 1px solid #4d4d4d;
	transition: opacity 0.5s, transform 0.5s;
	transform: translateY(60px);
	margin-top: 80px;
}

.slide-in {
	opacity: 1;
	transform: translateY(0);
}

.card:hover {
	transform: translateY(-10px);
}

.card__body {
	padding-top: 80px;
}

.card__body a {
	display: inline-block;
	margin-top: 10px;
	width: 100px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 8px;
	background-color: #333;
	color: white;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s ease;
}

.card__body a:hover {
	/* background-color: darkred; */
	background-color: #555;
}

.card__body h3 {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}

.card-image {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
	filter: invert(67%) sepia(6%) saturate(10%) hue-rotate(8deg) brightness(89%)
		contrast(85%);
}

.card-heading {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
	color: #808080;
}

.card-paragraph {
	font-size: 1rem;
	color: #808080;
}

@media screen and (min-width: 768px) {
	.card-container {
		flex-wrap: wrap;
		flex-direction: row;
	}

	.card-container::before {
		content: "";
		position: absolute;
		bottom: -30%;
		transform: translateY(50%);
		left: 0;
		width: 100%;
		height: 1px;
		background-color: rgb(47, 45, 45);
	}

	.card {
		position: relative;
		margin-bottom: 50px;
	}

	.card-heading {
		font-size: 18px;
	}
}

@media screen and (min-width: 1024px) {
	.card {
		width: calc(33.33% - 20px);
		margin-right: 20px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.card {
		margin-right: 40px;
		margin-bottom: 20px;
	}

	.card-container::before {
		display: none;
	}
}
